#navbar{
    flex-direction: column;
    width:125%;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 0px ;
    padding-bottom: 0px;
}
.home{
    height: 322px;
    padding: 3px 34px;
}
.home::before{
    height: 480px;
    padding: 0px 50px;
}
.home p{
    font-size: 0.8rem;
}
.home h1{
    font-size: 1.5rem;
}
.service-section h1{
    margin-top: 34px;
}
.services{
    flex-direction: column;
    padding: 0px 34px;
    background-color: lightpink ;
    width: 108%;
}

.box{
    /* overflow:auto; */
    padding: 0px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}
#contactus::before{
    padding: 0px 40px;
}